# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

# Composer
composer.phar
app/var/
bin/phpunit
bin/security-checker
go-pear.phar
bower_components
node_modules
.sass_cache
ngrok

src/KS/MediaBundle/Resources/public/